body{
margin: 0;
padding: 0;
}

header{
    text-align: center;
    background-color: red;
    color: black;
    height: 5vh;
}

.form{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: red;
    margin-top: 1vh;
    text-align: center;
}

.form input{
    height: 4vh;
    width: 15%;
    font-size:15px;
    margin: 0 1rem;
    text-align: center;
}

.form label{
    font-size:15px;
    font-weight: bold;
}

.container{
    padding: 0 0.5rem;
    margin-top: 0.5rem;
}

.form-btn{
    display: flex;
    align-items: center;
    margin:0.5rem;
}

.form-btn button{
    border: 2px solid black;
    height: 4vh;
    background-color: white;
    font-size:15px;
}

.level{
        height: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(240, 237, 237);
        padding: 5px;
        border-bottom: 2px grey solid;
    }

.floor button{
    display: block;
}